@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed:700|Roboto:300,400,400i,700');
* {
  margin: 0;
  padding: 0;
  /* box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  -o-font-smoothing: antialiased; */
  /* font-smoothing: antialiased; */
  /* text-rendering: optimizeLegibility; */
}


body {

  background-color: #282c34;
  font-family: "Roboto", Helvetica, Arial, sans-serif;
  font-weight: 100;
  font-size: 12px;
  line-height: 30px;

  color: rgb(255, 255, 255);
  
  
}

.main-container{
	/* background: rgb(238, 103, 103); */
	margin: 0 auto;

	position: relative;
	
	max-width: 1000px;
	
	/* width: 500px; */
}

.container {

	/* background-color: rgb(14, 165, 72); */
	/* width: 100%; */
  /* max-width: 600px; */
  /* width: 500px;
  height: 500px; */
  /* margin: 0 auto; */
  margin-top: 1rem;
  /* position: relative; */
  text-align: center;
  /* display: flex; */

}

#canadaMap {

	/* background-color: rgb(165, 14, 14); */
 	/* width: 140vw; */
 	max-width: 900px;
 	margin: 0 auto;
 	/* display: block; */
	/* padding-left: 1rem; */
	/* filter: blur(2px); */
 }

h1 {
	color: rgb(170, 10, 10);
}

#info {
	display: none;
	/* background-color: rgba(0, 0, 255, 0.363); */
	
	/* background-color: rgba(243, 107, 107, 0.349); */
	/* margin-top: 35px; */
	width: 100%;
	min-height: 100%;
	position: absolute;
	top: 0;
	/* display: flex; */
/*
	filter: blur(8px);
  -webkit-filter: blur(8px); */

}

/* .top{
	font-size: 2rem;
} */

.aver{
	margin: 1rem;
}

.verto {
	background-color: rgba(255, 255, 255, 0.062);
	/* display: flex; */
	border: none;
	outline: none;
	/* margin-right: 50px; */
	padding: .5rem;
	font-size: 2rem;
	color: whitesmoke;
	width: 100%;
	border-radius: 20px;

}

.verto span{
	
	font-size: 2rem;
	color: rgb(206, 169, 4);
	-webkit-text-stroke-width: 1px;
	-webkit-text-stroke-color: rgb(0, 0, 0);
}

.close {
	background-color: rgba(255, 255, 255, 0);
	/* display: flex; */
	border: none;
	outline: none;
	margin-right: 50px;
	padding: .5rem;
	font-size: 2rem;
	color: whitesmoke;
}

/* #proContainer{
	background-color: rgb(11, 155, 88);
	position: absolute;
} */

#proForm {
	/* background-color: rgba(255, 255, 255, 0.349); */
	display: flex;
	flex-direction: column;
	align-items: start;
	/* justify-content: center; */
	font-size: .9rem;
	/* height: 50vh; */
	/* margin: 10px; */
	/* padding: 5px; */
	/* border-radius: 20px; */
	/* box-shadow: 1px 1px 10px 1px black; */

	margin-left: 1rem;

}

#proForm p {
	color: rgb(255, 255, 255);
	text-shadow: 1px 1px 5px black;
	/* background-color: #fff; */

}

.down{
	/* background-color: rgba(239, 252, 184, 0.575); */
	height: 100vh;
}


#proContainer {
	display: grid;
	grid-template-columns: 1rem 10rem 1fr 1fr;
	align-items: start;
	justify-content: start;
	margin-top: 30px;
	padding-top: 50px;
	/* background-color: rgba(243, 107, 107, 0.349); */
	/* background-color: rgb(11, 155, 88); */

}

.respuestas {
	/* background-color: rgb(39, 223, 70); */
	/* grid-column: 3 span 4; */
	grid-column: 3/5;
}



#proForm > button {
	margin-bottom: .5rem;
	padding: .22rem;
	border: none;
	border-radius: 5px;
}

#hideArea {
	/* background-color: rgb(39, 223, 70); */
	/* grid-column: 3 span 4; */
	grid-column: 1/5;
}

#hideArea button {
	background-color: rgba(255, 255, 255, 0);
	width: 100%;
	height: 100%;
	border: none;
}


svg {
	fill: lightgrey;
}

g:hover{
	fill: rgb(170, 10, 10);
	cursor: pointer;
 }

 /* g:active {

	fill:red;
 } */

.province_text{
	font-size:11px;
	fill:none;}
.st2{fill:none;}
.st3{font-family:'MyriadPro-Regular';}
.st5{fill:none;}
.st6{fill:none;}


/* @media screen and (min-width: 600px) {
	#canadaMap {
	 	 width: 80vw;
		 padding-left: 250px;
  }
} */

